.subscription-wrapper {
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.checkout-container {
  display: flex;
  gap: 30px;
  max-width: 1050px;
  width: 100%;
}

.summary, .payment-section {
  background: #fff;
  padding: 25px;
  border-radius: 20px;
  flex: 1;
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.plan-box {
  background: #f1f5f9;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
}

.price {
  font-size: 2rem;
  font-weight: 700;
}

.features {
  list-style: none;
  margin-top: 20px;
}

/* PAYMENT FORM */
.payment-section input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
}

.payment-methods {
  display: flex;
  gap: 20px;
  margin: 15px 0;
}

.row {
  display: flex;
  gap: 10px;
}

.btn-pay {
  margin-top: 25px;
  padding: 15px;
  background: #16a34a;
  color: white;
  border-radius: 30px;
  width: 100%;
}

.btn-secondary {
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  background: #64748b;
  color: white;
  border-radius: 10px;
}

/* RECEIPT */
.receipt-container {
  text-align: center;
  width: 100%;
}

.receipt-box {
  background: #f1f5f9;
  max-width: 450px;
  margin: auto;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
  text-align: left;
}

.divider {
  height: 1px;
  background: #cbd5e1;
  margin: 15px 0;
}

.thank {
  text-align: center;
  font-weight: 600;
}
